body {
	background: url(../img/beige_texturetastic.jpg) repeat;
	margin-top: 70px;
	width: 100%;
	z-index: 0;
}

.nav_bar {
	background-color: #fff;
	height: 70px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	
	-webkit-box-shadow: 0px 0px 2px 0px #c0c0c0;
	-moz-box-shadow: 0px 0px 2px 0px #c0c0c0;
	box-shadow: 0px 0px 2px 0px #c0c0c0;
}

.nav_bar_content {
	background-color: #fff;
}

.nav_bar_container {
	background-color: #fff;
	height: 100%;
	margin: 0px 40px;
	position: relative;
}

.nav_bar_content a:link, a:visited {
	color: #1c140d;
	font-family: Droid Serif, Georgia, Serif;
	font-size: 14pt;
	text-decoration: none;
}

.nav_bar_content a:hover, a:active {
	color: #009a9a;
}

.nav_bar_content h1 {
	bottom: 0;
	color: #009a9a;
	display: inline;
	font-family: Dancing Script, Georgia, Serif;
	font-size: 44pt;
	margin: 0px;
	position: absolute;
	text-shadow: 1px 1px 1px #000;
}

.nav_bar_content li {
	display: inline;
	padding: 0px 0px 0px 30px;
}

.nav_bar_content ul {
	bottom: -10px;
	float: right;
	display: inline;
	list-style: none;
	position: absolute;
	right: 0;
}

.top_bar {
	background-color: #1c140d;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

/* ABOUT SECTION */

.about_section {
	background: url(../img/broken_noise.jpg);
	margin: 0px 0px 0px -10px;
	padding: 40px;
	width: 100%;
	z-index: 0;
}

.work_section {
	padding: 40px;
	margin-top: 70px;
}